<p id="notice"><%= notice %></p>

<div class="card custom-card">
        <div class="card-header note-title">
          <%= @note.title %>
        </div>
        <div class="card-body">
          <div class="note-content"> <%= @note.content %> </div>
        </div>
      </div>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
