<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "books" %>

<div>
  <h1 class="books-main-title text-center">Books</h1>    
  <div class="new-book-ref">
    <%= link_to 'New Book', new_book_path %>
  </div>


  <div class='custom-cards-container'>

    <% @books.each do |book| %>

      <div class="card custom-book-card">
        <div class="card-header book-title">
          <%= book.title %>
        </div>
        <div class="card-body">
          <div class="book-content"> Notes on this book: <span style="color: darkred"> <%= @notes_amount_by_book[book.id] %> </span> </div>

          <div class='row justify-content-end'>
            <div class='margin-right-1 crud-items'> <%= link_to 'Edit', edit_book_path(book) %> </div>
            <div class='margin-right-1 crud-items'> <%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' } %> </div>
          </div>

        </div>
      </div>

    <% end %>

  </div>


  <br>
</div>