<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "main" %>
    <title>TTPSEntregaFinal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='body-class'>
    <div class='wrapper'>
      <div class='row main-row' >
      <%= render "shared/menu" %>

      <div>
        <p class="navbar-text float-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
        </p>
        <ul class="navbar-nav mr-auto">
        </ul>
        <% if notice %>
          <p class="alert alert-success"> <%= notice %> </p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"> <%= alert %> </p>
        <% end %>
      </div>
      </div>
      <div class='asdasd'>
      <%= yield %>      
      </div>
    </div>
    
  </body>
</html>
